<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdkj.coin.dao.IBTCAddressDAO">

    <resultMap id="btcAddress_DB_Result" type="btcAddress">
        <result column="code" property="code"/>
        <result column="address" property="address"/>
        <result column="create_datetime" property="createDateTime"/>
    </resultMap>

    <sql id="where_condition">
        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="code != null and code != '' ">
                AND t.code = #{code}
            </if>
            <if test="address != null and address != '' ">
                AND t.address = #{address}
            </if>

        </trim>
    </sql>

    <select id="select_btcAddress" parameterType="btcAddress" resultMap="btcAddress_DB_Result">
        SELECT
        t.code
        ,t.type
        ,t.address
        ,t.create_datetime
        FROM
        tctq_btc_address t
        <include refid="where_condition"/>
        <trim prefix="ORDER BY ">
            <if test="order != null and order != '' ">
                t.${order}
            </if>
        </trim>
    </select>

    <select id="selectTotalCount" parameterType="btcAddress"
            resultType="java.lang.Long">
        SELECT count(1) FROM tctq_btc_address t
        <include refid="where_condition"/>
    </select>

    <insert id="insert_btcAddress" parameterType="btcAddress">
        INSERT INTO
            tctq_btc_address (
                code,
                address,
                create_datetime
            )
        VALUES (
            #{code},
            #{address},
            now()
        )
    </insert>

    <select id="getAddressCount" resultType="java.lang.Integer">
        SELECT count(1)
        FROM tctq_btc_address
        WHERE address = #{address}
    </select>

    <select id="selectTotalCountByAddress" resultType="java.lang.Long">
        SELECT count(1)
        FROM `tctq_btc_address`
        WHERE `address` = #{address}
    </select>

</mapper>