<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.IBtcUtxoDAO">
	<resultMap id="btcUtxo_DB_Result" type="btcUtxo">
		<result column="id" property="id" />
		<result column="txid" property="txid" />
		<result column="vout" property="vout" />
		<result column="count" property="count" />
		<result column="script_pub_key" property="scriptPubKey" />
		<result column="address" property="address" />
		<result column="sync_time" property="syncTime" />
		<result column="block_height" property="blockHeight" />
		<result column="status" property="status" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="id != null and id != '' ">
				AND t.id = #{id}
			</if>
			<if test="txid != null and txid != '' ">
				AND t.txid = #{txid}
			</if>
			<if test="vout != null">
				AND t.vout = #{vout}
			</if>
			<if test="address != null and address != '' ">
				AND t.address = #{address}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="statusList != null and statusList != '' ">
                AND t.status in
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
		</trim>
	</sql>
	<select id="select_btcUtxo" parameterType="btcUtxo" resultMap="btcUtxo_DB_Result">
		SELECT
		t.id
		,t.txid
		,t.vout
		,t.count
		,t.script_pub_key
		,t.address
		,t.sync_time
		,t.block_height
		,t.status
		FROM
		tctq_btc_utxo t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_btcUtxo_count" parameterType="btcUtxo"
		resultType="java.lang.Long">
		SELECT count(1) FROM tctq_btc_utxo t
		<include refid="where_condition" />
	</select>

	<insert id="insert_btcUtxo" parameterType="btcUtxo">
		INSERT INTO
		tctq_btc_utxo(
		 txid
		,vout
		,count
		,script_pub_key
		,address
		,sync_time
		,block_height
		,status
		)
		VALUES(
		 #{txid}
		,#{vout}
		,#{count}
		,#{scriptPubKey}
		,#{address}
		,#{syncTime}
		,#{blockHeight}
		,#{status}
		)
	</insert>

	<update id="update_status" parameterType="btcUtxo">
		UPDATE tctq_btc_utxo
		SET
		status = #{status}
		WHERE txid = #{txid} AND vout = #{vout}
	</update>


</mapper>