<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>

    <typeAliases>
        <typeAlias alias="ethAddress" type="com.cdkj.coin.domain.EthAddress"/>
        <typeAlias alias="ethTransaction" type="com.cdkj.coin.domain.EthTransaction"/>

        <typeAlias alias="btcUtxo" type="com.cdkj.coin.bitcoin.BtcUtxo"/>
        <typeAlias alias="btcAddress" type="com.cdkj.coin.bitcoin.BTCAddress"/>
        
        <typeAlias alias="wanAddress" type="com.cdkj.coin.domain.WanAddress"/>
        <typeAlias alias="wanTransaction" type="com.cdkj.coin.domain.WanTransaction"/>
        
        <typeAlias alias="tokenAddress" type="com.cdkj.coin.domain.TokenAddress"/>
        <typeAlias alias="tokenContract" type="com.cdkj.coin.domain.TokenContract"/>
        
        <typeAlias alias="wtokenAddress" type="com.cdkj.coin.domain.WTokenAddress"/>
        <typeAlias alias="wtokenContract" type="com.cdkj.coin.domain.WTokenContract"/>
        <typeAlias alias="wtokenTransaction" type="com.cdkj.coin.domain.WTokenTransaction"/>

        <typeAlias alias="sysDict" type="com.cdkj.coin.domain.SYSDict"/>
        <typeAlias alias="sysConfig" type="com.cdkj.coin.domain.SYSConfig"/>
        <typeAlias alias="tokenEvent" type="com.cdkj.coin.domain.TokenEvent"/>
    </typeAliases>
    <plugins>
        <!--<plugin interceptor=""></plugin>-->
        <plugin interceptor="com.cdkj.coin.Plugin.MyBatisPlugin"></plugin>
        <!--<plugin interceptor="com.cdkj.coin.Plugin.MyBatisPlugin"><plugin interceptor=""-->
    </plugins>

</configuration>


