<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.coin.dao.IScTransactionDAO">
	<resultMap id="scTransaction_DB_Result" type="scTransaction">
		<result column="transactionid" property="transactionid" />
		<result column="outputid" property="outputid" />
		<result column="confirmationheight" property="confirmationheight" />
		<result column="confirmationtimestamp" property="confirmationtimestamp" />
		<result column="from" property="from" />
		<result column="to" property="to" />
		<result column="value" property="value" />
		<result column="minerfee" property="minerfee" />
		<result column="sync_datetime" property="syncDatetime" />
		<result column="status" property="status" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="transactionid != null and transactionid != '' ">
				AND t.transactionid = #{transactionid}
			</if>
			<if test="outputid != null and outputid != '' ">
				AND t.outputid = #{outputid}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
		</trim>
	</sql>
	<select id="select_scTransaction" parameterType="scTransaction" resultMap="scTransaction_DB_Result">
		SELECT
		t.transactionid
		,t.outputid
		,t.confirmationheight
		,t.confirmationtimestamp
		,t.from
		,t.to
		,t.value
		,t.minerfee
		,t.sync_datetime
		,t.status
		FROM
		tctq_sc_transaction t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_scTransaction_count" parameterType="scTransaction"
		resultType="java.lang.Long">
		SELECT count(1) FROM tctq_sc_transaction t
		<include refid="where_condition" />
	</select>

	<insert id="insert_scTransaction" parameterType="scTransaction">
		INSERT INTO
		tctq_sc_transaction(
		transactionid
		,outputid
		,confirmationheight
		,confirmationtimestamp
		,`from`
		,`to`
		,`value`
		,minerfee
		,sync_datetime
		,status
		)
		VALUES(
		#{transactionid}
		,#{outputid}
		,#{confirmationheight}
		,#{confirmationtimestamp}
		,#{from}
		,#{to}
		,#{value}
		,#{minerfee}
		,#{syncDatetime}
		,#{status}
		)
	</insert>

	<update id="update_status" parameterType="scTransaction">
		UPDATE tctq_sc_transaction
		SET
		status = #{status}
		WHERE transactionid = #{transactionid} AND outputid = #{outputid}
	</update>
	
</mapper>