<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cdkj.coin.dao.IWTokenAddressDAO">

    <resultMap id="wtokenAddress_DB_Result" type="wtokenAddress">
        <result column="code" property="code"/>
        <result column="address" property="address"/>
        <result column="symbol" property="symbol"/>
        <result column="create_datetime" property="createDateTime"/>
    </resultMap>

    <sql id="where_condition">
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="code != null and code != '' ">
                AND t.code = #{code}
            </if>
            <if test="address != null and address != '' ">
                AND t.address = #{address}
            </if>
            <if test="symbol != null and symbol != '' ">
                AND t.symbol = #{symbol}
            </if>
        </trim>
    </sql>

    <select id="select_wtokenAddress" parameterType="wtokenAddress" resultMap="wtokenAddress_DB_Result">
        SELECT
        t.code
        ,t.address
        ,t.symbol
        ,t.create_datetime
        FROM
        tctq_wtoken_address t
        <include refid="where_condition"/>
        <trim prefix="ORDER BY ">
            <if test="order != null and order != '' ">
                t.${order}
            </if>
        </trim>
    </select>

    <select id="selectTotalCount" parameterType="wtokenAddress"
            resultType="java.lang.Long">
        SELECT count(1) FROM tctq_wtoken_address t
        <include refid="where_condition"/>
    </select>

    <insert id="insert_wtokenAddress" parameterType="wtokenAddress">
        INSERT INTO
            tctq_wtoken_address (
                code,
                address,
                symbol,
                create_datetime
            )
        VALUES (
            #{code},
            #{address},
            #{symbol},
            #{createDatetime}
        )
    </insert>

    <select id="selectTotalCountByAddress" resultType="java.lang.Long">
        SELECT count(1)
        FROM `tctq_wtoken_address`
        WHERE `address` = #{address}
    </select>

</mapper>